<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    ">


	<context:component-scan base-package="issac.demo">
		<context:exclude-filter type="regex" expression="issac.demo.controller" />
	</context:component-scan>
	
	<context:property-placeholder location="classpath:dbconfig.properties" />
	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:i18n/messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh" />
	</bean>


	<bean id="propertiesReader" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:properties/beans.properties</value>
			</list>
		</property>
	</bean>

<bean class="issac.demo.utils.SpringUtils"/>

  
      <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${db_url}" />
        <property name="driverClass" value="${driverClassName}" />
        <property name="user" value="${db_user}" />
        <property name="password" value="${db_password}" />
    </bean>
    
	 
	
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
    	<property name="configLocation" value="classpath:mybatisConfig.xml" />  
    	<property name="dataSource" ref="dataSource" />  
    	<property name="mapperLocations" value="classpath*:issac/demo/mapper/*.xml" />
	</bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
      <property name="basePackage" value="issac.demo.mapper" />
      <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
    

</beans>