<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    ">

	<context:property-placeholder location="classpath:dbconfig.properties" />
	<context:component-scan base-package="issac.demo">
		<context:exclude-filter type="regex" expression="issac.demo.controller" />
	</context:component-scan>

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	     <property name="basename" value="classpath:i18n/message"/>
         <property name="useCodeAsDefaultMessage" value="true" />
		  <property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="propertiesReader" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:properties/beans.properties</value>
			</list>
		</property>
	</bean>

<bean class="issac.demo.utils.SpringUtils"></bean>

<bean id="schedulerUtils" class="issac.demo.scheduler.SchedulerUtils" >
    <property name="scheduler" >
         <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
    </property>
</bean>

    
    <bean id="emailService"  class="issac.demo.service.EmailService">
          <property name="mailSenderImpl">
            <bean class="org.springframework.mail.javamail.JavaMailSenderImpl">  
				      <property name="protocol" value="smtp" />  
				      <property name="host" value="localhost" />  
				      <property name="port" value="25" />  
				      <property name="username" value="help@yx.com" />  
				      <property name="password" value="1" />  
				      <property name="javaMailProperties">  
				          <props>  
				              <prop key="mail.smtp.auth">true</prop>  
				          </props>  
				      </property>  
             </bean>
          </property>
          <property name="threadPool">
              <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
			        <property name ="corePoolSize" value ="5" /> 
				    <property name ="keepAliveSeconds" value ="300" /> 
				    <property name ="maxPoolSize" value ="10" /> 
				    <property name ="queueCapacity" value ="25" />   
			    </bean>  
          </property>
    </bean>
    
    
        <bean id="mailSender"  class="org.springframework.mail.javamail.JavaMailSenderImpl">  
				      <property name="protocol" value="smtp" />  
				      <property name="host" value="localhost" />  
				      <property name="port" value="25" />  
				      <property name="username" value="help@yx.com" />  
				      <property name="password" value="1" />  
				      <property name="javaMailProperties">  
				          <props>  
				              <prop key="mail.smtp.auth">true</prop>  
				          </props>  
				      </property>  
      </bean>
</beans>